body {
  margin: 0;
  padding: 0;
  background-color: #ffeaea;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  /* base para rem */
}

/* Cabeçalho */

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
}

.esquerda {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 2.5rem;
}

#logoDani {
  width: 40vw;
  margin-bottom: 4.375rem;
  align-self: flex-end;
}

.texto-simbolo1 {
  display: flex;
  align-items: center;
  margin: 0;
  align-self: center;
}

.titulo1 {
  font-size: 3rem;
}

.simbolo1 {
  width: 10vw;
  height: auto;
}

.direita #fotoDani {
  width: 33vw;
  max-width: 100%;
  border-radius: 0.625rem;
}

.botao {
  transition: background-color 1s;
  display: flex;
  margin-top: 3.125rem;
  color: black;
  background-color: white;
  border: 0.5px solid white;
  border-radius: 100px;
  padding: 1.25rem 2.5rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  width: fit-content;
  align-self: center;
  box-shadow: 0 0 1rem black;
  text-decoration: none;
}

.botao:hover {
  color: white;
  background-color: black;
  border: 1px solid black;
  font-weight: bold;
  box-shadow: 0 0 1.875rem black;
}

.contar {
  padding: 10px 20px;
  text-align: center;
  background-color: #f0b4b484;
}

#contador {
  transition: transform 0.3s ease;
}

#contador:active {
  transform: scale(1.1);
}

/* Minha história */

.top2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
}

.esquerda2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 2.5rem;
  align-self: flex-end;
}

.fotoDani2 {
  display: none;
}

#minhaHistoria {
  margin-left: 7.5rem;
  width: 26vw;
  height: auto;
  margin-bottom: 5.313rem;
}

.direita2 {
  font-size: 1.25rem;
}

.simbolo2 {
  width: 13vw;
  height: auto;
  margin-left: 15.625rem;
}

/* Atendimentos */

.atendimento {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.563rem;
}

.distancia {
  margin-left: 9.375rem;
}

.coluna {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6.25rem;
}

.coluna > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fotoAtendimento {
  width: 12.5rem;
}

#tLetras {
  text-align: center;
  font-size: 2.188rem;
  font-weight: normal;
}

.top3 {
  display: flex;
  flex-direction: row;
  padding: 2.5rem;
}

.esquerda3 {
  margin-left: 9.375rem;
}

.direita3 > img {
  width: 40vw;
  height: auto;
}

/* Último */

.top4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.esquerda4 {
  width: 43.75vw;
}

.esquerda4 > h1 {
  font-weight: normal;
  font-size: 3.125rem;
  letter-spacing: -0.25rem;
}

.botao2 {
  transition: background-color 1s;
  display: flex;
  margin-top: 3.125rem;
  color: black;
  background-color: white;
  border: 0.5px solid white;
  border-radius: 100px;
  padding: 1.25rem 2.5rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  width: fit-content;
  align-self: center;
  box-shadow: 0 0 1rem black;
  text-decoration: none;
}

.botao2:hover {
  color: white;
  background-color: black;
  border: 1px solid black;
  font-weight: bold;
  box-shadow: 0 0 1.875rem black;
}

.direita4 > img {
  width: 21.875rem;
  height: auto;
  margin-left: 5rem;
}

.caixa5 {
  display: inline-flex;
  align-items: center;
  gap: 50px;
  background: rgba(255, 175, 175, 0.44);
  margin-left: 25%;
  margin-top: 100px;
  padding: 25px;
  border-radius: 15px;
}

.esquerda5 {
  padding: 70px 25px 120px 0px;
  border-right: 1px solid black;
}

.esquerda5 > h1 {
  font-size: 50px;
}

.esquerda5 > h3 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 50px;
}

.google > button {
  display: block;
  margin: 0 auto;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid white;
  background-color: white;
  font-weight: bold;
}

.google > button:hover {
  border: 1px solid rgba(255, 175, 175, 0.44);
  background-color: rgb(255, 236, 236);
}

.google > button:focus {
  outline: none;
  border: 1px solid rgba(255, 175, 175, 0.44);
  background-color: rgb(255, 236, 236);
  box-shadow: 0 0 10px rgb(255, 165, 165);
}

.direita5 > h3 {
  font-weight: normal;
  font-size: 20px;
}

.direita5 > input {
  border-radius: 10px;
  padding: 10px;
  width: 280px;
  border: 1px solid rgba(255, 175, 175, 0.44);
}

.direita5 > input:hover {
  border: 1px solid rgba(255, 175, 175, 0.44);
  background-color: rgb(255, 236, 236);
}

.direita5 > input:focus {
  outline: none;
  border: 1px solid rgba(255, 175, 175, 0.44);
  background-color: rgb(255, 236, 236);
  box-shadow: 0 0 10px rgb(255, 165, 165);
}

.direita5 > button {
  display: block;
  margin: 0 auto;
  padding: 15px 35px;
  border-radius: 15px;
  border: 1px solid white;
  background-color: white;
  font-weight: bold;
}

.direita5 > button:hover {
  border: 1px solid rgba(255, 175, 175, 0.44);
  background-color: rgb(255, 236, 236);
}

.direita5 > button:focus {
  outline: none;
  border: 1px solid rgba(255, 175, 175, 0.44);
  background-color: rgb(255, 236, 236);
  box-shadow: 0 0 10px rgb(255, 165, 165);
}

.comentario {
  height: 75px;
}

/* Rodapé */

footer {
  background-color: #ffdbdb;
  margin-top: 6.25rem;
}

.top5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
  margin-left: 1.25rem;
}

.entreEm {
  justify-self: center;
}

.redesSocias {
  margin-top: 0;
}

.imgFinal {
  justify-self: end;
}

.imgFinal > img {
  width: 18.75rem;
  height: auto;
  margin: 0 0.625rem 0.313rem 0;
}

.arumar {
  display: flex;
  flex-direction: row;
}

#face {
  display: flex;
  gap: 0.625rem;
  margin-top: 0.156rem;
  width: 1.5rem;
  height: 1.5rem;
}

#insta {
  display: flex;
  gap: 0.625rem;
  width: 1.875rem;
  height: auto;
}

.link1 {
  text-decoration: none;
  color: black;
}

/* Fim rodapé */

/* Responsividade */

@media (max-width: 1024px) {
  /* inicio */

  .topo {
    align-items: center;
    padding: 1rem;
    justify-content: center;
    margin-top: 10px;
  }

  .esquerda {
    flex: 1;
    max-width: 100%;
    padding: 0;
  }

  #logoDani {
    align-items: center;
    width: 90vw;
    margin-bottom: 2rem;
    margin: 0 auto;
  }

  .direita {
    align-self: flex-end;
    display: none;
    justify-content: center;
    width: 100%;
    max-width: 50%;
    flex: 1;
  }

  .simbolo1 {
    width: 22vw;
  }

  .titulo1 {
    margin-top: 55px;
    font-size: 2.6rem;
  }

  .botao {
    display: flex;
    padding: 20px 55px;
    width: 100px;
    justify-content: center;
    font-size: 1.3rem;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: 0 0 1.9rem black;
    white-space: nowrap;
  }

  /* parte 2 */

  .top2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 1rem;
    justify-content: center;
  }

  .esquerda2 {
    flex: 1;
    width: 100%;
    padding: 0;
  }

  .fotoDani2 {
    display: flex;
    width: 300px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10%;
  }

  .direita2 > h2 {
    font-size: 40px;
  }

  .direita2 > span {
    font-size: 25px;
  }

  .direita2 {
    flex: 1;
    width: 100%;
    font-size: 6.5px;
  }

  .simbolo2 {
    display: none;
  }

  #minhaHistoria {
    width: 60vw;
    max-width: 100%;
    margin: 1rem auto;
    display: none;
  }

  /* parte 3 */

  .atendimento {
    margin: 0 auto;
    justify-content: space-evenly;
  }

  .atendimento > h1 {
    font-size: 50px;
  }

  .coluna {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 200px;
  }

  #fotoAtendimento {
    width: 250px;
  }

  #tLetras {
    font-size: 30px;
  }

  .top3 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 1rem;
    justify-content: center;
    gap: 5px;
  }

  .esquerda3 {
    font-size: 20px;
    margin: 0 auto;
  }

  .direita3 > img {
    width: 100.5vw;
    margin: 1rem auto;
  }

  /* Parte 4 */

  .top4 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 1rem;
    justify-content: center;
    gap: 5px;
    display: flex;
  }

  .distancia {
    margin: 0;
  }

  .esquerda4 > h1 {
    text-align: left;
    font-size: 2.7rem;
    letter-spacing: normal;
    width: 0 auto;
  }

  .direita4 {
    align-self: center;
    width: auto;
  }

  .direita4 > img {
    margin: 0 auto;
    width: 40vw;
    margin-bottom: 15px;
  }

  .botao2 {
    display: flex;
    padding: 20px 55px;
    width: 100px;
    justify-content: center;
    font-size: 1.3rem;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: 0 0 1.9rem black;
    white-space: nowrap;
  }

  /* final */
  .top5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .entreEm {
    font-size: 15px;
  }

  .arumar {
    align-items: baseline;
    justify-content: space-evenly;
  }

  .imgFinal {
    justify-self: center;
  }

  .imgFinal img {
    width: 50vw;
    max-width: 100%;
    margin-left: 30px;
  }

  #face,
  #insta {
    align-self: center;
    width: 1.5rem;
    height: auto;
  }
}

@media (max-width: 767px) {
  /* inicio */

  .topo {
    align-items: center;
    padding: 1rem;
    justify-content: center;
    height: 275px;
    margin-top: 10px;
  }

  .esquerda {
    flex: 1;
    max-width: 100%;
    padding: 0;
  }

  #logoDani {
    align-items: center;
    width: 90vw;
    margin-bottom: 2rem;
    margin: 0 auto;
  }

  .direita {
    align-self: flex-end;
    display: none;
    justify-content: center;
    width: 100%;
    max-width: 50%;
    flex: 1;
  }

  .simbolo1 {
    width: 18vw;
  }

  .titulo1 {
    font-size: 1.6rem;
  }

  .botao {
    display: flex;
    padding: 10px 40px;
    width: 100px;
    justify-content: space-around;
    font-size: 1rem;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: 0 0 1.9rem black;
    white-space: nowrap;
  }

  /* parte 2 */

  .top2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 1rem;
    justify-content: center;
  }

  .esquerda2 {
    flex: 1;
    width: 100%;
    padding: 0;
  }

  .fotoDani2 {
    display: flex;
    width: 200px;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10%;
  }

  .direita2 > h2 {
    font-size: 30px;
  }

  .direita2 > span {
    font-size: 15px;
  }

  .direita2 {
    flex: 1;
    width: 100%;
    font-size: 6.5px;
  }

  .simbolo2 {
    display: none;
  }

  #minhaHistoria {
    width: 60vw;
    max-width: 100%;
    margin: 1rem auto;
    display: none;
  }

  /* parte 3 */

  .atendimento {
    margin: 0 auto;
    justify-content: space-evenly;
  }

  .atendimento > h1 {
    font-size: 30px;
  }

  .coluna {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  #fotoAtendimento {
    width: 180px;
  }

  #tLetras {
    font-size: 30px;
  }

  .top3 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 1rem;
    justify-content: center;
    gap: 5px;
  }

  .esquerda3 {
    font-size: 15px;
    margin: 0 auto;
  }

  .direita3 > img {
    width: 100.5vw;
    margin: 1rem auto;
  }

  /* Parte 4 */

  .top4 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 1rem;
    justify-content: center;
    gap: 5px;
    display: flex;
  }

  .distancia {
    margin: 0;
  }

  .esquerda4 {
    width: 275px;
  }

  .esquerda4 > h1 {
    text-align: left;
    font-size: 1.7rem;
    letter-spacing: normal;
    width: auto;
  }

  .direita4 {
    align-self: center;
    width: auto;
  }

  .direita4 > img {
    margin: 0 auto;
    width: 60vw;
    margin-bottom: 15px;
  }

  .botao2 {
    display: flex;
    padding: 10px 40px;
    width: 100px;
    justify-content: space-around;
    font-size: 1rem;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: 0 0 1.9rem black;
    white-space: nowrap;
  }

  /* final */
  .top5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .entreEm {
    font-size: 15px;
  }

  .arumar {
    align-items: baseline;
    justify-content: space-evenly;
  }

  .imgFinal {
    justify-self: center;
  }

  .imgFinal img {
    width: 50vw;
    max-width: 100%;
    margin-left: 0;
  }

  #face,
  #insta {
    align-self: center;
    width: 1.5rem;
    height: auto;
  }
}

/* Fim da responsividade */
